@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
/*box*/
.navBox{
    background-color:#fff;
    min-height:10%;
    width: 60%;
    padding: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0, 0, 0, 0.30), 0 1px 5px 0   rgba(0,0,0,.12);
    border-radius: 2px;
    display: inline-block;
    margin: 50px
}
    #wrapper {
    background-color: rgba(255, 255, 255, 0.00); /* for vizualization purposes */
    text-align: center;
    -ms-flex-item-align: center;
  }
  #yourdiv {
    
    background-color: red; /* for vizualization purposes */
    
  }

.gameBox{
    display: inline-block;
    background-color:#fff;
    margin: 10px;
    align-self: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0   rgba(0,0,0,.12);
    border-radius: 2px;
}
box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);