<div >
    <div>
        <label>current flages: {{gameData.flags}}</label>
    </div>
    <table border="1">
        <tr *ngFor="let Row of gameData.Rows">
            <td *ngFor="let Cell of Row.Cells">
                <img class="flag" *ngIf="Cell.isFlaged" src="assets/flag.png"  (click)="Reveal($event, Cell)"/>
                <img class="overlay" *ngIf="Cell.isCovered" src="{{getCoveredImg(Cell)}}" (click)="Reveal($event, Cell)"/>
                <img *ngIf="true" src="{{getPicture(Cell)}}"/>
            </td>
        </tr>
    </table>
</div>